<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 class="mypage-title">ジャンル編集</h4>
        <%= form_with model:@genre, url:admin_genre_path(@genre.id), local:true do |f| %>
          <div class="row">
            <div class="form-group">
                <%= f.label :name, "ジャンル名", class:"admin-genre-name" %>
                <%= f.text_field :name %>
            </div>
            <div class="form-group">
                <%= f.submit "変更を保存", class: 'bnt btn-success' %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>