<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>ジャンル編集</h2>
      
      <%= form_with model:@genre, url:admin_genre_path(@genre.id), local:true do |f| %>
      
        <div class="field row">
          <div class="form-group">
            <%= f.label :name, "ジャンル名" %>
            <%= f.text_field :name %>
          </div>
          <div class="form-group">
            <%= f.submit "変更を保存", class: 'bnt btn-success' %>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
</div>